body {
 text-align: center;
 background-color: #3c4650;
 color: #F3E367;
 color: white;
 font-family: Playfair Design;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 28px;
  height: 25px;
}

h5 {
  height: 14px;
}

#exchangeContainer {
  display: flex;
  justify-content: center;
}

.exchange {
  color:white;
  background-color:#707879;
  text-align: center;
  margin: 10px;
  border: 2px solid #F3E367;
  border-radius: 5px;
  width: 175px;
  height: 150px;
}

.highest {
  transform: scale(1.1);
  box-shadow: 0 0 1rem #F3E367;
}

.price {
  font-family: Raleway;
  color: #F3E367;
  font-size: 24px;
}

.total {
  color: whitesmoke;
  font-size: 14px;
}

.hl {
  background-color: #F3E367;
}

#suggestions {
  padding: 0;
}

.coinList {
  list-style-type: none;
}

.coin {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}

.coin:hover {
  background-color: #F3E367;
  color: black;
  cursor: pointer;
  color: #7F8688;
}

#search {
  text-align: center;
  color: #7F8688;
  outline: 0;
  border: 10px solid #F7F7F7;
  border-radius: 5px;
  font-size: 28px;
}

#search:focus::placeholder {
  color: transparent;
}

#error {
  font-size: 14px;
  color: #F3E367;
}

#suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

#suggestions li {
  color: black;
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0 auto;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  width: 300px;
}

#suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

#suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

#addCoinInput {
  text-align: center;
  color: #7F8688;
  outline: 0;
  border: 5px solid #F7F7F7;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  width: 120px;
}

#addExchange {
  color: #7F8688;
  border: 5px solid #F7F7F7;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  width: 120px;
}

#addCoinButton {
  text-align: center;
  color: #7F8688;
  outline: 0;
  border: 5px solid #F7F7F7;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  width: 95px;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 25px;
}

#addCoinButton:hover {
  background-color: #F3E367;
  border: 5px solid #F3E367;
}

table {
  background-color:#838c8d;
  font-family: Roboto;
  margin: 0 auto;
  border-collapse: collapse;
}

table th {
  padding: 8px;
  background-color: #F3E367;
  color: #707879;
  font-family: Playfair Designs;
  font-size: 24px;
  margin: 20px;
  width: 200px;
}

table td {
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #ddd;
}

table tr {
  padding-top: 20px;
  padding-bottom: 20px;
}

table tr:nth-child(even){
  background-color: #9aa5a7;
}

table tr:hover{
  background-color: #ddd;
  color: #707879;
  cursor: pointer;
}

table th:hover{
  cursor: auto;
}
